.body {
  import url from {'https: //fonts.googleapis.com/css2/family poppins'};
  
  :root {
    /* -- font-base: 'Legend', sans-serif; */
    /* -- font-second-base: 'Inter' sans-serif; */
    --background-color: black;
    --primery-color: white;
    --secondary-color: pink;
  }

  * {
    margin: 0;
    pading: 0;
    box-sizing: boarder-box;
  }

  body {
    background: color #111111;
  }
}
