.body {
  
  
  root {
    -- font-base: 'legend', sans-serif;
    -- font-second-base: 'inter' sans-serif;
    --background-color: black;
    --primery-color: white;
    --secondary-color: pink;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: boarder-box;
  }

  body {
    background: color #111111;
  }
}
